<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Nuevo Item</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" id="image-item">
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label>description</label>
            <input type="text" class="form-control" id="text-item">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary pull-right" href="#" id="save">Guardar</a>
    </div>
</div>
