<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"><% if (item !== undefined) { %>Modificar<% } else { %>Nuevo<% } %> Item</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Image</label>
            <% if (item !== undefined) { %>
                <img class="img-responsive" width="250" src="<%= item.picture %>">
            <% } %>
            <input type="file" class="form-control" id="image-item">
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label>description</label>
            <input type="text" class="form-control" id="text-item"<% if (item !== undefined) { %>value="<%= item.description %>"<% } %>>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary pull-right" href="#" <% if (item !== undefined) { %>data-id="<%= item._id + '_' + item.index %>"<% } %> id="save">Guardar</a>
    </div>
</div>
