<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><% if (item !== undefined) { %>Actualización<% } else { %>Nuevo<% } %> Item</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <% if (item !== undefined) { %>
                <img class="img-responsive" width="225" src="<%= item.picture %>"><br />
            <% } %>
            <label>Imagen</label>
            <input type="file" class="form-control" id="image-item">
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" id="text-item"<% if (item !== undefined) { %>value="<%= item.description %>"<% } %>>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary pull-right" href="#" <% if (item !== undefined) { %>data-id="<%= item.id + '_' + item.index %>"<% } %> id="save">Guardar</a>
    </div>
</div>
